*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    
    /*border: 1px solid black;*/
    background-color: rgb(237, 245, 255);
    overflow: none;
    display: flex;
    gap: 10px;
    
}
.navList{
    width: 100vw;
    height: 60px;
    padding: 10px;
    /*margin-left: 15px;
    margin-right: 15px;*/
    background-color: rgb(146, 56, 220); 
    


}
.navList #heading{
    align-items: center;
}

.navList #yes{
    align-items: center;
}

.navitem{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li{
    list-style: none;
}

#anchor{
    text-decoration: none;
}

#heading{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

#anchor{
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}

.item1{
    height: 30rem;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.itemcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button1 {
    background: #4b42fff0;
    border: 1px solid #602bd1;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
  
.button1:hover,
.button1:active {
    background-color: initial;
    background-position: 0 0;
    color: #5418ad;
}
  
.button1:active {
    opacity: .5;
}

.item2{
    height: 30rem;
    background-color: rgb(146, 56, 220);
    display: flex;
    padding: 30px;
    margin: auto;
    flex-direction: column;
    align-items: center;

}

div{
    width: 100%;
}

.head1{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body1{
    display: flex;
    justify-content: center;
}
.box1{
    height: 20rem;
    width: 100rem;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box2{
    height: 20rem;
    width: 100rem;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box3{
    height: 20rem;
    width: 100rem;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.head1 h1{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.body1 h2,p,a{
    color: white;
}

.item3{
    height: 30rem;
    background-color: white;
    display: flex;
    align-items: center;
    overflow: auto;

}

.leftone{
    width: 100rem;
    height: 30rem;
    padding: 20px;
    margin-left: 80px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.rightone{
    width: 100rem;
    height: 30rem;
    margin-right: 10px;
    
    
}

.rightone img{
    width: 50rem;
    height: 29.5rem;
}

.button2 {
    background: #4b42fff0;
    border: 1px solid #602bd1;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
  
.button2:hover,
.button2:active {
    background-color: initial;
    background-position: 0 0;
    color: #5418ad;
}
  
.button2:active {
    opacity: .5;
}

.item4{
    height: 30rem;
    width: 100%;
    padding: 20px;
    background-color: rgb(146, 56, 220);
    display: flex;
    justify-content: center;
    align-items: center;

}

.newone{
    height: 25rem;
    width: 20rem;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 60px;
}

.button3 {
    background: white;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
  
.button3:hover,
.button3:active {
    background-color: initial;
    background-position: 0 0;
    color: #5fd7c5;
}
  
.button3:active {
    opacity: .5;
}

.footer{
    height: 3rem;
    background-color: white;
    
}
